<!DOCTYPE html>
<!--[if !IE]><!-->
<html xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/web/thymeleaf/layout" lang="en">
<!--<![endif]-->
<head th:fragment="htmlhead">
    <meta charset="utf-8" />
    <title >亿盾诈骗公众号侦测系统</title>
    <meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
    <meta content="" name="description" />
    <meta content="" name="author" />

    <!-- ================== BEGIN BASE CSS STYLE ================== -->
    <link href="http://fonts.googleapis.com/css?family=Nunito:400,300,700" rel="stylesheet" id="fontFamilySrc" />
    <link th:href="@{/sourceAdmin/assets/plugins/jquery-ui/themes/base/minified/jquery-ui.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/css/animate.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/css/style.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-table//bootstrap-table.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/parsley/src/parsley.css}" rel="stylesheet" />

<!--
    <link th:href"@{/sourceAdmin/assets/plugins/select2/dist/css/selectConflex.css}" rel="stylesheet" />
-->

    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-calendar/css/bootstrap_calendar.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/ionRangeSlider/css/ion.rangeSlider.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/strength-js/strength.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-select/bootstrap-select.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/jquery-tag-it/css/jquery.tagit.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/select2/dist/css/select2.min.css}" rel="stylesheet" />
    <link th:href="@{/sourceAdmin/assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css}" rel="stylesheet" />


    <!-- ================== END BASE CSS STYLE ================== -->

    <!-- ================== BEGIN BASE JS ================== -->
    <script th:src="@{/sourceAdmin/assets/plugins/pace/pace.min.js}"></script>
    <!-- ================== END BASE JS ================== -->

    <!--[if lt IE 9]>
    <script th:src="@{/sourceAdmin/assets/crossbrowserjs/excanvas.min.js}"></script>
    <![endif]-->


    <!-- ================== BEGIN BASE JS ================== -->
    <script th:src="@{/sourceAdmin/assets/plugins/jquery/jquery-1.9.1.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/jquery/jquery-migrate-1.1.0.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/jquery-ui/ui/minified/jquery-ui.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap/js/bootstrap.min.js}"></script>
    <!--[if lt IE 9]>
    <script th:src="@{/sourceAdmin/assets/crossbrowserjs/html5shiv.js}"></script>
    <script th:src="@{/sourceAdmin/assets/crossbrowserjs/respond.min.js}"></script>
    <![endif]-->
    <script th:src="@{/sourceAdmin/assets/plugins/slimscroll/jquery.slimscroll.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/jquery-cookie/jquery.cookie.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-table/bootstrap-table.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/parsley/dist/parsley.js}"></script>
    <!-- ================== END BASE JS ================== -->

    <script th:src="@{/sourceAdmin/assets/plugins/vue/Vue.js}"></script>


    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-calendar/js/bootstrap_calendar.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/masked-input/masked-input.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/strength-js/strength.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-select/bootstrap-select.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/jquery-tag-it/js/tag-it.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-daterangepicker/moment.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/select2/dist/js/select2.min.js}"></script>
    <script th:src="@{/sourceAdmin/assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js}"></script>


</head>

<body>
<!-- begin #page-loader -->
<div id="page-loader" class="page-loader fade in"><span class="spinner">加载中...</span></div>
<!-- end #page-loader -->

<!-- begin #page-container -->
<div id="page-container" class="fade page-container page-header-fixed page-sidebar-fixed page-with-two-sidebar page-with-footer">
    <!-- begin #header -->
    <div th:replace="fragments/header :: header(title='亿盾诈骗公众号侦测系统')"></div>

    <!-- end #header -->

    <!-- begin #sidebar -->
    <div th:replace="fragments/sidebar :: sidebar"></div>

    <div class="sidebar-bg"></div>
    <!-- end #sidebar -->

    <!-- begin #content -->
    <div layout:fragment="content" ></div>
    <!-- end #content -->


    <!-- begin #sidebar-right -->
    <!-- end #sidebar-right -->

</div>
<!-- end page container -->

<!-- begin theme-panel -->
<div th:replace="fragments/themePanel :: themePanel"></div>
<!-- end theme-panel -->

<!-- ================== BEGIN PAGE LEVEL JS ================== -->
<!-- ================== BEGIN PAGE LEVEL JS ================== -->

<script th:src="@{/sourceAdmin/assets/js/apps.min.js}"></script>
<script th:src="@{/modules/common.js}"></script>

<!-- ================== END PAGE LEVEL JS ================== -->

<script>
    function indexfuncton(value,row,index) {
        return index+1;
    }

    var baseURL = "/account";
    var picUrl = "http://localhost:8089/";

    $(".single-select2").select2({
        width: "100%", //设置下拉框的宽度
        placeholder: "请选择"});

    $("input.phone").mask("999-9999-9999");
    $("input.email").mask("999-9999-9999");
    $("input.url").mask("999-9999-9999");
    $(document).ready(function() {
        App.init();
    });

</script>
</body>
</html>
