html{overflow: hidden}
body{
    //background-color: #081340;
    color: #fff}
body.not-html5 .browser{
    background-color: #f3f3f3;
    position: fixed;
    height: 100%;
    width: 100%;
    z-index: 999999;
}
body.not-html5 .browser-info{
    color: #777;
    width: 460px;
    height: 200px;
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -230px;
    margin-top: -100px;
    background-color: #fff;
    broder:1px solid #e7e7e7;
    font-size: 18px;
    padding-top: 40px;
    text-align: center;
    line-height: 1.5;
    -webkit-box-sizing: border-box;
    -os-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -m-box-sizing: border-box;
    box-sizing: border-box;
    border-radius: 5px;
}
body.not-html5 .browser-info .back{display: inline-block;width: 200px;background-color: #5bc102;border: #54b500 1px solid;line-height: 42px;margin-top: 24px;color: #fff}
body.html5 .browser{
    display: none;
}
.header{
    height: 60px;
    /*background-color: #25313e;*/
    background-color: #adbece;
    border-top: 1px solid #000;
    position: fixed;
    top:0;
    left: 0;
    width: 100%;
    z-index: 100;
    box-shadow: 0 0 2px rgba(200,200,200,0);
}
.header h2{
    line-height: 40px;
    margin: 10px auto 10px -150px;
    display: inline-block;
    width: 300px;
    position: absolute;
    top: 0;
    left: 50%;
    color: #fff;
    text-align: center;
    font-size: 24px;
    margin-left: -150px;
}
.header .hlogo{
    height:40px;
    width:102px;
    display: inline-block;
    vertical-align: bottom;
    margin-right: 6px;
    overflow: hidden;
    text-indent: -1000px;
    background:url("../../style/image/1_03.png") no-repeat;
}
.header .htitle{
    line-height: 40px;
    font-size: 24px;
    font-style: normal;
}
.header .hright{
    float: right;
    height: 60px;
    margin-right: 20px;
    line-height: 60px;
}
.header .hright .power{
    color: #fff;
    text-shadow: 0 0 0 #000;
    font-size: 14px;
}
/*澶撮儴鍏叡閮ㄥ垎鍐欏畬浜�*/
.left-menu{
    position: fixed;
    top:60px;
    left:0;
    width:172px;
    background-color:#0F6655;
    z-index: 100;
    height: 100%;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
}
.left-menu .left-menu-content{}
.left-menu-content .left-navigation{}
.left-menu-content .left-nav{line-height: 1.5}
.left-menu-content .left-nav-title{display:block;padding: 11px 10px;position: relative;font-weight: bold;font-size: 16px;border-top:1px solid;border-color: rgba(255,255,255,0.05);transition: color 0.3s ease-in-out 0s;text-align: center;color:#adbece}
.left-menu-content .left-nav-title.active{color: #fff;background-color: #2AA238}
.left-nav .nav-thumb-pic{margin-bottom: 3px;display: block;}
.left-menu  .left-menu-hand{position:absolute;  right:0;  top:0;  width: 20px;  height: 100%;  z-index: 101;  }
.left-menu  .left-menu-hand-icon{  position: absolute;  top:50%;  margin-top: -24px;  right: 0;  display: block;  height: 32px;  width: 20px;  background: url("../image/icon-bar.png");}
.left-menu-close{width: 20px;}
/*宸﹁竟鐨勫凡缁忓啓瀹屼簡*/
.data-containter{
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    top: 0;
}
.data-containter .container-title{
    //width: 300px;
    padding: 10px 5px 6px;
    margin: 0 auto;
    background-color: #007fbf;
    //border-radius: 8px;
    border-radius: 2px;
    text-align:center;
    position:absolute;
    left:0;
    right:0;
    // top:71px;
     top:61px;
    z-index: 9;
    color: #fff;
}
.data-containter .container-title .title{
    font-size: 20px;
    line-height: 40px;
}
.container{
    background-color: #333;
    height: 100%;
    position: relative;
    margin-left: 172px;
    margin-top: 61px;
    overflow: hidden;
    padding-bottom: 0;
}
.conactive{
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    transition: all 0.5s ease-in;
    margin-left: 20px;
}
.container .draw-section{
    height: 100%;
    position: relative;
    //margin-right:290px ;
    box-sizing: border-box;
}
/*缁樺浘鍖哄煙*/
.container .remark{
    position:absolute;
    top:0;
    right:0;
    background-color: rgba(0,0,0,0.2);
    height: 100%;
    width: 290px;
    box-shadow: 0 -2px 0 #fff;
    overflow: hidden;
}
.ndetail{
    overflow: hidden;
}
.right-nav{
    text-align: center;
    background-color: rgba(0,0,0,0.5);
    line-height: 40px;
    height: 40px;
    color:#fff;
}
.detail-lilists li{}
.detail-lilists li:after{clear: both;display: block;zoom:1;height: 0.1px;content: ".";visibility: hidden}
.detail-lilists li .title{float: left;line-height: 24px;height: 24px;white-space: nowrap;text-overflow: clip;overflow: hidden;padding-right: 10px;}
.detail-lilists li .cate{float: left;line-height: 24px;height: 24px;}
.detail-lilists li .level{float: left;line-height: 24px;height: 24px;}
/*鍙宠竟鑿滃崟css鏁村悎*/
.province-top5 {color: #fff;text-shadow: -1px -1px 0 #000;text-align: center; }
.province-top5 .province-content{
    height: 150px;
    min-height: 150px;
    box-sizing: border-box;
    margin-top: 5px;
    margin-left: 20px;
}
.province-top5 .right-title-one,.sender-top10 .right-title-one{width: 140px;padding-left: 20px;text-align: left}
.province-top5 .right-title-two,.sender-top10 .right-title-two{width: 150px;text-align: left}
.sender-top10 .detail-title{
    width: 100%;
    height: 40px;
}
.sender-top10 .sender-content{
    margin: 5px 0 0 20px;
}
.sender-content li,.province-content li{
    height: 20px;
    line-height: 20px;
    color: #fff;
    margin-top:5px;
}
.sender-content .fl-sender,
.province-content .fl-sender{float: left;width:120px;height: 20px;text-align: left;font-size: 12px;}
.sender-content .fl-num,
.province-content .fl-num{float: left;height: 14px;background:#ff2c2d;margin-top: 3px;}
/*鏀粯绫讳吉鍩虹珯鍦板浘*/
.earth-content{padding-top: 60px;}
/*鏀粯绫讳吉鍩虹珯缁撴潫*/
/*浠垮啋瀹㈡湇鐨勫唴瀹瑰尯鍩�*/
.customer-content{position:relative}
.customer-content #bubble-labels{position: absolute;left: 0px;top: 0px;}
.customer-content .bubble-label{position: absolute}
.bubble-label-name {text-align: center}
.bubble-label-value{text-align: center}
.bubble-node{fill:rgb(31, 119, 180)}
.bubble-hover{fill:red}
#bubble-nodes{transform: translate(0,5)}
/*浠垮啋瀹㈡湇鐨勫唴瀹瑰尯鍩熺粨鏉�*/
/*娆鸿瘓鐢佃瘽*/
.carrier-map{position: relative}
.carrier-map .carrier-map-content{position:absolute;left: 0;}
.carrier-map .bubbletips{cursor: pointer}

.carrier_tipstool{width: 230px;height: 70px;z-index: 100000;border-radius: 6px;font-size: 14px;background-color:rgba(255,255,255,0.9);position: absolute;left: 0;top:0;
    -webkit-transform: scale(0, 0);
    -moz-transform: scale(0, 0);
    -o-transform: scale(0,0);
    transform: scale(0, 0);
    color: #000}
.carrier_tipstool:after,.carrier_tipstool:before{border: solid transparent;content: "";height: 0;top:100%;position: absolute;width: 0}
.carrier_tipstool:after{border-width:10px;border-top-color: rgba(255,255,255,0.9);left: 105px; }
.carrier_tipstool h2{padding: 6px;margin: 0;font-size: 16px;color: #fff;border-top-left-radius:6px;border-top-right-radius: 6px; }
.carrier-output{background-color: #0b78f4}
.carrier-tips-close{background-image: url(../../style/image/close.png);background-repeat: no-repeat;width: 21px;height: 21px;position: absolute;top: 6px;right: 7px;text-indent: -900px;overflow: hidden;cursor: pointer}
.carrier-tips-close:hover{background-position: 0 -21px;}
.carrier-content.num{
    font-size: 18px;
    padding: 0;
}
.carrier-content p{color: #333}
.carrier-content .tooltipstitle{color: #333;}
.carrier-content .tooltips-num{color:#1084dd;padding-right: 10px;padding-left: 10px}
.carrier-content .num{
    font-size: 18px;
    padding: 0;
    line-height: 20px;
}
.carrier_tipstool.active{
    transition: all 0.5s ease-in;
    -webkit-transition: all 0.5s ease-in;
    -moz-transition: all 0.5s ease-in;
    -o-transition: all 0.5s ease-in;
    -webkit-transform: scale(1, 1);
    -moz-transform: scale(1,1);
    -o-transform: scale(1,1);
    transform: scale(1, 1);
}
.carrier_tipstool .tips-title{color: #000}
.tooltips-table{width: 190px;margin-right: 20px;}
.tooltips-table tr{line-height: 18px;text-align: center}
.tooltips-table tr td{border-bottom:1px solid rgba(154, 143, 135, 0.59);font-size: 12px;};
.tooltips-table tr:first-child td{border-bottom:1px solid rgba(154, 143, 135, 0.59)}
.tooltips-table tr:nth-child(2n) td{
    background-color: #cccccc;
}
.virtual-tips{
    height: 190px;
}
/*娆鸿瘓鐢佃瘽缁撴潫*/
.case{margin-top:10px}
.case .case-layout{
    overflow: hidden;
    padding-top:10px;
}
.case .case-detail{
    margin-left: 20px;
    margin-right: 20px;
}
.case .case-detail li{
    margin-bottom: 10px;
}
.case .case-detail li a{
    display: block;
    padding-bottom: 10px;
    border-bottom: dashed #f2bc00 1px;
}
.case .case-detail li a .case-list-title{
    line-height: 20px;
    font-size: 12px;
    word-break: break-all;
    display: block;
}
.case .case-detail .case-info{
    display: block;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
}
/*tools css*/
.i-list{overflow: hidden;}
.warning{color:rgb(230,22,22)}
.info{color:rgb(230,230,230)}
/*鍔ㄧ敾鏁堟灉css*/
.etitle-span{
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    text-anchor: middle;
    font-style: normal;
    font-variant: normal;
    font-weight: normal;
    font-stretch: normal;
    font-size: 10px;
    fill:#fff;
    line-height: normal;
}
.dot-circle{
    transform: scale(0.5);
    -webkit-transform:scale(0.5);
    animation: dot 3s ease-out 0ms infinite;
    -webkit-animation: dot 3s ease-in-out 0ms infinite;
    -webkit-transform-origin: center center;
    transform-origin: center center;
}
@keyframes dot {
    0%{
        fill-opacity: 0;
    }
    30%{
        fill-opacity:0.5;
        transform: scale(1.2);
    }
    80%{
        fill-opacity:0.1;
    }
    100%{
        fill-opacity: 0;
    }
}
@-webkit-keyframes  dot {
    0%{
        fill-opacity: 0;
    }
    30%{
        fill-opacity:0.5;
        -webkit-transform: scale(1.2);
    }
    80%{
        fill-opacity:0.1;
    }
    100%{
        fill-opacity: 0;
    }
}
/*鎼滅储寮曟搸閮ㄥ垎鐨刢ss*/
.search-pie{position: relative}
.search{}
.search .search-content,.el-content,.ecate-content{padding: 5px 0 0 20px;box-sizing: border-box;overflow: hidden}
.search .search-list li,.el-content li ,.ecate-content li{margin-bottom: 5px;height: 20px;line-height: 20px;font-size: 12px}
.search .search-list .surl,.el-content .surl,.ecate-content .surl{white-space: nowrap;text-overflow: ellipsis;cursor: pointer}

.search-level .right-title-one{padding-left: 20px;text-align: left;width: 80px;}
.search-level .right-title-two{padding-left: 20px;text-align: left;width: 210px}
.search-level .level-content{padding: 10px 0 0 20px;}
.search-level .level-list li{margin-bottom: 5px;height: 20px;line-height: 20px;font-size: 12px}
.search-level .level-list .stitle{width: 80px;}
.search-level .level-list .slevel{height: 14px;margin-top: 3px;background-color: #d62728}

.search .right-title-one{padding-left: 20px;text-align: left;width: 100px;}
.search .right-title-two{text-align: left;width: 190px}
.search .search-content .stitle{width: 80px;}
.search .search-content .slevel{width: 210px;}

.engine-cate .right-title-one,.engine-list .right-title-one{width: 100px;text-align: left;padding-left: 20px;}
.engine-cate .right-title-two,.engine-list .right-title-two{width: 190px;text-align: left}
.engine-cate-title{text-align: center;height: 50px;line-height: 50px;background-color: #3D5368}
.cate-content{padding: 5px 0 5px 20px;}
.cate-content .cate-content-list{}
.cate-content .cate-content-list li{height: 20px;line-height: 20px;margin-bottom: 5px}
.cate-content .cate-content-list li .stitle,.ecate-content .stitle,.engine-list .stitle{float: left;font-size: 12px;width: 80px;}
.cate-content .cate-content-list li .slevel,.ecate-content .slevel,.engine-list .slevel{float: left;background-color: #ff2c2d;height: 14px;margin-top: 3px;}


.tooltips{position: absolute;display: none}
.tooltips .left-icon{position: absolute;left: 0;width: 0;height: 0;border-right: #000 solid 6px;top: 50%}
.tooltips .tooltips-bg{position: absolute;top: 0;left: 6px;bottom: 0;right: 0 ;background-color: rgba(0,0,0,0.5);border-radius: 5px;z-index: 12}
.tooltips .msg{padding: 7px 15px 5px 15px;color: #fff;z-index: 20;position: relative}

.range{position: absolute;width: 300px;height: 200px;right: 0;bottom: 0;padding: 10px;}
.ticks-c line{fill: none;stroke: #fff;stroke-width: 1px;}
.ticks-c text{fill:#fff}
.ticks-c path{fill:none;stroke: #fff;stroke-width: 1px;}
.sengine,.sengine-title{cursor: pointer}
/*浠垮啋瀹㈡湇*/
.haoma-top10{}
.haoma-top10 .haoma .title{width: 130px;text-align: left}
.haoma-top10 .haoma .level{width: 140px;text-align: left}

.engine-top5{}
.engine-top5 .engine-content{padding: 5px 0 10px 20px}
.engine-top5  .engine .title{ width: 130px;text-align: left;}
.engine-top5  .engine .level{ width: 140px;text-align: left;}

.customer-cases{}
.customer-cases .customer-case-content{overflow: hidden}
.customer-cases .customer-case li{padding-left:5px;border-bottom: dotted 1px #0b78f4;margin-right: 5px; }
.customer-cases .customer-case .customer-title{width: 40%;}
.customer-cases .customer-case .customer-caseli{width: 60%;}
.customer-cases .customer-case p{line-height: 24px;overflow: hidden}
.customer-cases .customer-case .urls{white-space: nowrap;}
.customer-cases .customer-case .urls a{color: #fff;}

.customer-cate .right-title-one,.haoma-top10 .right-title-one,.engine-top5 .right-title-one{width: 150px;text-align: left;padding-left: 20px;}
.customer-cate .right-title-two,.haoma-top10 .right-title-two,.engine-top5 .right-title-two{width: 140px;text-align: left;}
.customer-cate  .customer-cate-content,.haoma-content,.customer-case-content{padding: 5px 0 10px 20px}
.customer-cate .customer-catelist .title{width: 130px;text-align: left}
.customer-cate .customer-catelist .level{width: 140px;text-align: left}
/*浠垮啋瀹㈡湇缁撴潫*/
/*璇堥獥鐢佃瘽鍙风爜*/
.carrier{}
.carrier .right-title-one,.carrier-area .right-title-one{width: 150px;padding-left: 20px;text-align: left}
.carrier .right-title-two,.carrier-area .right-title-two{width: 140px;text-align: left}
.carrier .carriers-content,.carrier-area-content{padding: 5px 0 5px 20px}
.carrier .carrier-catelist .title,.carrier-area  .carrier-area-list .title{width:130px;text-align: left}
.carrier .carrier-catelist .level,.carrier-area  .carrier-area-list .level{width:140px;text-align: left}


.carrier-cases{}
.carrier-content{padding: 10px 0 6px 20px;overflow: hidden}
.carrier-case li{height: 20px;line-height: 20px;}
.carrier-case .title{width: 50%;text-align: left;float: left}
.carrier-case .level{width: 50%;text-align: left;float: left}
/*璇堥獥鐢佃瘽鍙风爜缁撴潫*/
/*浠垮啋鐭ュ悕浼佷笟鐨剈rl*/
.enterprise-content{position: relative}
.enterprise-content #bubble-labels{position: absolute;left: 0;top: 0;}
.enterprise-content .bubble-label{position: absolute}


.enterprise-cate .right-title-one{width: 150px;text-align: left;padding-left: 20px;}
.enterprise-cate .right-title-two{width: 140px;text-align: left;}
.enteriprise-cate-content {padding: 5px 0 10px 20px;}
.enterprise-catelist .title{width: 130px;text-align: left}
.enterprise-catelist .slevel{width: 140px;text-align: left}

.enterprise-url-top5 .right-title-one{width: 170px;text-align: left;padding-left: 20px;}
.enterprise-url-top5 .right-title-two{width: 120px;text-align: left;}
.enterprise-url-content{padding: 5px 0 10px 20px;}
.enterprise-url-content .title{width: 150px;text-align: left}
.enterprise-url-content .slevel{width: 120px;text-align: left}

.enterprise-case-content{padding: 5px 0 10px 20px;overflow: hidden}
.enterprise-case-content .title{width: 80px;text-align: left}
.enterprise-case-content .level{width: 190px;text-align: left;white-space: nowrap;overflow: hidden;}

/*閾惰榛戝崱*/
.bank-content{position: relative}
#bubble-labels{position:absolute;left: 0;top:0}
#bubble-labels .bubble-label{position: absolute}

.bank-cate .right-title-one{width: 170px;padding-left: 20px;text-align: left}
.bank-cate .right-title-two{width: 120px;text-align: left}
.bank-cate-content{padding: 10px 0 10px 20px}
.bank-catelist .title{width: 150px;white-space: nowrap;text-overflow: clip;overflow: hidden;text-align: left}
.bank-catelist .level{width: 120px;}
.bank-case-content{overflow: hidden;padding-right: 20px;}

.bank-caseli{padding-bottom: 10px;margin-right: 10px;border-bottom: 1px dotted #f2bc00;width: 100%;word-break: break-all;margin-top: 10px;}
.bubble-label{
    -moz-transform: scale(0.85);
    -webkit-transform: scale(0.85);
    -o-transform: scale(0.85);
    -ms-transform: scale(0.85);
    transform: scale(0.85);
}
/*170鎭舵剰榛戝崱*/
.virtual-content{position: relative}
.virtual-content .point{position: absolute}
.virtual-cate .right-title-one{width: 170px;padding-left: 20px;text-align: left}
.virtual-cate .right-title-two{width: 120px;text-align: left}
.virtual-case-content{overflow: hidden}
.virtual-catelist .title,.virtual-case .title{width:150px; text-align: left}
.virtual-catelist .level,.virtual-case .level{width: 110px;text-align: left}